@media screen and (max-width: 1000px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .container--menu {
    justify-content: space-between;
  }

  .header {
    height: initial;
    margin: auto;
    justify-content: center;
  }

  .intro__elements {
    margin: 9rem auto;
  }

  /* === #Menu === */
 
  .menu__links-container{
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    bottom: -18rem;
    left: 0;
    background-color: var(--menu-bg-active);
    gap: 0;
    display: none;
    border-top: 0.1rem solid var(--menu-bottom-border);
  }

  .menu__links-container.active {
    display: flex;
  }

  .menu__link {
    transition: 0.5s ease-in;
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: var(--menu-text-color-2-active);
    border-bottom: 0.1rem solid var(--menu-bottom-border);
  }

  .menu-mobile {
    display: initial;
  }

  /* === Cards === */
  .card__art {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--partners-color);
    right: 1rem;
    top: 1.4rem;
    z-index: 2;
    padding: initial;
  }

  .card__art--border-schools {
    border-color: var(--schools-color);
  }
  .card__art--border-collaborators {
    border-color: var(--collaborators-color);
  }

  .card__art-img {
    min-width: 100%;
    height: 70%;
    border-radius: 50%;
  }
}

@media screen and (max-width: 530px) {
  .logo {
    font-size: 1.85rem;
  }

  .intro {
    align-items: center;
  }

  .intro__elements {
    width: initial;
    margin: 9rem auto;
    gap: 3.5rem;
  }
  
  .intro__title{
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .intro__desc{
    width: 100%;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .intro__link{
    font-size: 2rem;
    padding: 1.5rem 1rem;

  }

  /* === #Form === */
  .form__container {
    flex-direction: row;
    max-height: 45rem;
  }

  .form__tabs-row {
    width: 4rem;
    flex-direction: column;
    height: 100%;
  }

  .tab {
    width: 4rem;
    height: calc(100% / 3);
    border-bottom: none;
    border-right: 0.3rem solid var(--partners-color);
  }

  .tab.active {
    border-right: none;
  }

  .tab h2 {
    transform: rotate(270deg);
  }
  .tab--first {
    border-radius: 2rem 0 0 0;
    border-color: var(--collaborators-color);
  }

  .tab--last {
    border-radius: 0 0 0 2rem;
    border-color: var(--schools-color);
  }

  .tab--collaborators-color.active {
    border-top: none;
    border-left: 0.3rem solid var(--collaborator-color);
  }
  .tab--partners-color.active {
    border-top: none;
    border-left: 0.3rem solid var(--partners-color);
  }
  .tab--schools-color.active {
    border-top: none;
    border-left: 0.3rem solid var(--schools-color);
  }

  .form {
    width: 80%;
  }
}
