/* ==================
  #Indice

1. #Globals
  - #Next-page bar
2. #Header
  - #Menu
  - #Menu-mobile
  - #Intro
3. #Main
  - #Howitworks
  - #Whatiearn
  - #Rewards
  - #Partners
  - #Joinus
4. #Footer

================== */

/* ==================
#Globals
================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: 'Inter', sans-serif;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  --font-color-1: rgb(23, 32, 75);
  --font-color-2: rgb(118, 123, 144);
  --font-color-3: rgb(49, 211, 174);

  --link-hover: rgb(49, 211, 174);
  --bg-color-1: rgb(248, 249, 252);
  --bg-color-2: rgb(49, 211, 174);
  --bg-color-3: rgb(23, 32, 75);

  --desc-color-1: rgb(248, 249, 252);
  --desc-color-2: rgb(49, 211, 174);

  --shadow: rgba(23, 32, 75, 0.4);
  --transparent: 23, 32, 75;

  --card-collaborator-color: rgb(254, 94, 110);
  --card-partners-color: rgb(49, 211, 174);
  --card-schools-color: rgb(69, 169, 211);

  --page-next-img-color: invert(77%) sepia(11%) saturate(2930%)
    hue-rotate(110deg) brightness(101%) contrast(67%);

  /* # rewards */
  --reward-card-font-color: rgb(248, 249, 252);

  --partner-img-color: brightness(0%) saturate(0%) contrast(1000%) invert(100%);

  --contactus-item-img-color: invert(82%) sepia(65%) saturate(758%)
    hue-rotate(94deg) brightness(101%) contrast(65%);

  --social-links-link-color: invert(100%) sepia(98%) saturate(7%)
    hue-rotate(114deg) brightness(103%) contrast(103%);

  --social-links-link-color-hover: invert(74%) sepia(15%) saturate(1816%)
    hue-rotate(114deg) brightness(95%) contrast(85%);

  font-size: 62.5%;
  font-family: var(--font);
  color: var(--font-color-1);

  scroll-behavior: smooth;
}

.aboutus,
.howitworks,
.whatiearn,
.rewards,
.security,
.schools,
.joinus,
.partners,
.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 3rem; */
  gap: 5rem;
  position: relative;
  padding: 9.5rem 3rem 12rem;
}

.joinus {
  min-height: 70vh;
  padding-bottom: 5.5rem;
}

.partners,
.footer {
  min-height: auto;
  height: auto;
  position: initial;
  padding: 3rem;
}

.container {
  width: 100%;
  max-width: 139.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
}

.container--flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.container--menu {
  margin: 0;
  padding: 0 3rem;
}

.container__text {
  width: 50%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
}

.container__art {
  width: 40%;
  min-height: 30rem;
  min-width: 30rem;
}

.container__img {
  width: 100%;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.desc {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 4rem;
  color: var(--desc-color-1);
  text-align: center;
}

.desc--color {
  color: var(--desc-color-2);
}

/* === #Next-page bar === */
.page-next,
.page-next__link {
  display: flex;
  justify-content: center;
  z-index: 99;
  position: absolute;
}
.page-next {
  background-color: var(--bg-color-1);
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  border-radius: 10rem 10rem 0 0;
}

.page-next__link {
  padding: 2rem;
  top: -8rem;
  z-index: 2;
}

.page-next__img {
  width: 3rem;
  filter: var(--partner-img-color);
  -webkit-filter: var(--partner-img-color);
  -moz-filter: var(--partner-img-color);
  transition: 0.2s ease-in;
}

.page-next__img--color {
  filter: var(--page-next-img-color);
  -webkit-filter: var(--page-next-img-color);
  -moz-filter: var(--page-next-img-color);
}

.page-next__img:hover {
  transform: scale(1.5);
}

.section-color-1 {
  background-color: var(--bg-color-1);
}

.section-color-2 {
  background-color: var(--bg-color-2);
}


/* ==================
   #Header
================== */
.header {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.header__video,
.header__video-layer {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
}
.header__video {
  z-index: 0;
}
.header__video-layer {
  background-color: rgba(0, 0, 50, 0.6);
  z-index: 1;
}

/* === #Menu === */
.menu {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.2s ease-in;
}

.logo {
  color: var(--font-color-3);
  font-size: 2.5rem;
  text-decoration: none;

  font-family: var(--font);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  gap: 1rem;

  transition: 0.3s ease-in;
}

.logo__text {
  color: white;
  transition: 0.3s ease-in;
}

.menu__elements {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.menu__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;

  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
}

.menu__link:hover,
.menu__link.bg-active:hover,
.menu__link:focus,
.menu__link.bg-active:focus {
  color: rgb(49, 211, 174);
}

.menu.bg-active {
  background-color: white;
  border-bottom: 0.1rem solid var(--bg-color-3);
}

.logo__text.bg-active,
.menu__link.bg-active {
  color: var(--font-color-1);
}

.menu-mobile__line.bg-active {
  background-color: var(--bg-color-3);
}

/* === #Menu-mobile === */
.menu-mobile {
  width: 3rem;
  height: 3rem;
  gap: 0.7rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu-mobile:focus {
  border: none;
}

.menu-mobile__line {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  position: absolute;
  top: 30%;
  right: 0;
  transition: 0.3s ease;
}

.menu-mobile__line:nth-child(2) {
  width: 60%;
  top: 60%;
}
.menu-mobile__line.active:nth-child(1) {
  top: 45%;
  right: 10%;
  width: 80%;
  transform: rotate(315deg);
}
.menu-mobile__line.active:nth-child(2) {
  /* background-color: red; */
  top: 45%;
  right: 10%;
  width: 80%;
  transform: rotate(45deg);
}

/* === #Intro ===  */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  padding: 0 3rem;
}

.intro__elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem auto;
}

.intro__title {
  color: white;
  font-size: 4rem;
  line-height: 4.5rem;
}

.intro__desc {
  width: 100%;
  color: white;
  font-size: 2rem;
  line-height: 2.5rem;
}

.intro__link {
  width: 30rem;
  padding: 2rem 2rem;
  background-color: rgb(255, 123, 180);
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
}
.intro__link:hover {
  background-color: rgba(255, 100, 180, 0.9);
}

/* ==================
   #Main
   ================== */

.main {
  width: 100%;
}

/* === #Howitworks === */
.cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  width: 30rem;
  /* height: 50rem; */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 50, 0.4);
}

.card__art {
  width: 100%;
  height: 20rem;
  padding: 0rem 3rem 3rem;
  background-color: white;
  display: flex;
  align-items: center;
}

.card__art-img {
  width: 100%;
  height: 100%;
}

.card__float {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--font-color-2);
  font-size: 1.5rem;
}

.card__title {
  display: flex;
  align-items: center;
  margin: 2rem 2rem;
  background-color: white;
}

.card__title-number {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 1rem;
  border: 0.5rem solid var(--card-partners-color);
  border-radius: 50%;
}

.card__title-number--border-collaborators {
  border-color: var(--card-collaborator-color);
}

.card__title-number--border-schools {
  border-color: var(--card-schools-color);
}

.card__title-text {
  color: var(--card-partners-color);
}

.card__title-text--collaborators {
  color: var(--card-collaborator-color);
}

.card__title-text--schools {
  color: var(--card-schools-color);
}

.card__desc {
  width: 100%;
  height: 100%;
  max-height: 27.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--card-partners-color);
}

.card__desc--bg-collaborators {
  background-color: var(--card-collaborator-color);
}

.card__desc--bg-schools {
  background-color: var(--card-schools-color);
}

.card__list {
  padding: 3rem;
  color: white;
  font-size: 1.5rem;
}

.card__list-item {
  margin-bottom: 1rem;
  text-shadow: 0.05rem 0.05rem 0rem rgba(0, 0, 50, 0.4);
}

/* === #Rewards === */
.rewards__container {
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem 0;
}

.reward__card {
  width: 30rem;
  height: 19rem;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  overflow: hidden;

  background-color: var(--bg-color-1);
  box-shadow: 0.1rem 0.2rem 0.9rem var(--shadow);
  border-radius: 2rem;
  position: relative;
  transition: 0.3s ease-in;
}

.reward__card:hover {
  top: -0.5rem;
}

.reward__float {
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--font-color-2);
  font-size: 1.5rem;
  z-index: 2;
}

.reward__float--right {
  left: initial;
  right: 1rem;
}

.reward__hot,
.reward__new,
.reward__soon {
  color: var(--reward-card-font-color);
  font-weight: var(--weight-bold);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.reward__hot {
  background-color: red;
}
.reward__new {
  background-color: blue;
}
.reward__soon {
  background-color: green;
}

.img-white {
  filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -webkit-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -moz-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
}

.reward__img {
  width: 100%;
  transition: 1s ease;
}
.reward__img:hover {
  transform: scale(1.05);
  z-index: 0;
}

.reward__desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 1rem;

  padding: 0.5rem 1rem;
  background-color: rgba(var(--transparent), 0.6);
}

.reward__price {
  color: var(--reward-card-font-color);
}

/* === #Partners === */
.partners__title {
  margin-bottom: 3rem;
}

.partners__container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 0 auto;
}

.partner__img {
  filter: var(--partner-img-color);
  -webkit-filter: var(--partner-img-color);
  -moz-filter: var(--partner-img-color);
}

/* === #Joinus */
.joinus__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 50rem;
  max-width: 50rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-1);
  box-shadow: 0.3rem 0.3rem 0.5rem var(--shadow);
  border-radius: 2rem;
}

.form__tabs-row {
  width: 100%;
  display: flex;
}

.tab {
  width: calc(100% / 3);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(209, 209, 209);
  background-color: rgb(245, 245, 245);
  border-bottom: 0.3rem solid var(--card-partners-color);
  cursor: pointer;
  transition: 0.1s ease;
}

.tab--first {
  border-radius: 2rem 0 0 0;
  border-color: var(--card-collaborator-color);
}
.tab--last {
  border-radius: 0 2rem 0 0;
  border-color: var(--card-schools-color);
}

.tab.active {
  background-color: var(--bg-color-1);
  border-bottom: none;
}

.tab--collaborators-color.active {
  color: var(--card-collaborator-color);
  border-top: 0.3rem solid var(--card-collaborator-color);
}
.tab--partners-color.active {
  color: var(--card-partners-color);
  border-top: 0.3rem solid var(--card-partners-color);
}
.tab--schools-color.active {
  color: var(--card-schools-color);
  border-top: 0.3rem solid var(--card-schools-color);
}

.form__content {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.form__content.active {
  display: flex;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__line {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: var(--weight-medium);
  color: var(--card-partners-color);
}

.form__label--collaborators-color {
  color: var(--card-collaborator-color);
}

.form__label--schools-color {
  color: var(--card-schools-color);
}

.form__input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--card-partners-color);
  color: var(--font-color-1);
  border-radius: 0.5rem;
}

.form__input:focus {
  outline: 0.1rem solid var(--card-partners-color);
}

.form__input--collaborators-color {
  border: 0.1rem solid var(--card-collaborator-color);
}
.form__input--collaborators-color:focus {
  outline: 0.1rem solid var(--card-collaborator-color);
}

.form__input--schools-color {
  border: 0.1rem solid var(--card-schools-color);
}
.form__input--schools-color:focus {
  outline: 0.1rem solid var(--card-schools-color);
}

.form__button {
  background-color: var(--card-partners-color);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  font-size: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.form__button--collaborators-color {
  background-color: var(--card-collaborator-color);
}

.form__button--schools-color {
  background-color: var(--card-schools-color);
}

/* ==================
#Footer
================== */
.footer {
  background-color: var(--bg-color-3);
  border-top: 0.2rem solid var(--bg-color-1);
}

.contactus__title {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.contactus__list {
  text-decoration: none;
  list-style: none;
}

.contactus__item {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;
  font-family: var(--font);
  margin-bottom: 1rem;
}

.contactus__item-img {
  width: 2rem;
  filter: var(--contactus-item-img-color);
  -webkit-filter: var(--contactus-item-img-color);
  -moz-filter: var(--contactus-item-img-color);
}

.contactus {
  color: white;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-links__link {
  width: 3rem;
  filter: var(--social-links-link-color);
  transition: 0.1s ease-in;
}
.social-links__link:hover {
  position: relative;
  top: -0.5rem;
  filter: var(--social-links-link-color-hover);
}
