/* ==================
  #Indice

1. #Globals
  - #Next-page bar
2. #Header
  - #Menu
  - #Menu-mobile
  - #Intro
3. #Main
  - #Howitworks
  - #Whatiearn
  - #Rewards
  - #Partners
  - #Joinus
4. #Footer

================== */

/* ==================
#Globals
================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Inter', sans-serif;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  
  font-size: 62.5%;
  font-family: var(--font-family);
  color: var(--font-color-1);
  scroll-behavior: smooth;

  --green-aqua: 49, 211, 174;
  --dark-blue: 23, 32, 75;
  --blue-light: 69, 169, 211;
  --red-light: 254, 94, 110;
  --pink: 255, 123, 180;
  --black: 0, 0, 50;
  --white: 255, 255, 255;
  --white-2: 248, 249, 252;

  --menu-bg-active: rgb(var(--white));
  --menu-bottom-border: rgb(var(--dark-blue));
  --menu-text-color-1: rgb(var(--green-aqua));
  --menu-text-color-2: rgb(var(--white-2));
  --menu-text-color-2-active: rgb(var(--dark-blue));

  --section-bg-1: rgb(var(--white-2));
  --section-bg-2: rgb(var(--green-aqua));

  --global-title: rgb(var(--dark-blue));
  --global-title-2: rgb(var(--dark-blue));
  --global-desc-color-1: rgb(var(--white-2));
  --global-desc-color-2: rgb(var(--green-aqua));

  --header-video-layer: rgba(var(--black), 0.6);
  --intro-title: rgb(var(--white-2));
  --intro-desc: rgb(var(--white-2));
  --intro-button-bg: rgb(var(--red-light));
  --intro-button-bg-hover: rgb(var(--red-light), 0.95);
  --intro-button-color: rgb(var(--white-2));

  --card-bg-color: rgb(var(--white-2));
  --card-desc-color: rgb(var(--white));
  --collaborators-color: rgb(var(--red-light));
  --partners-color: rgb(var(--green-aqua));
  --schools-color: rgb(var(--blue-light));

  --shadow: rgba(var(--dark-blue), 0.4);

  --reward-float-color: rgb(var(--white-2));
  --reward-hot-bg: red;
  --reward-new-bg: blue;
  --reward-soon-bg: green;
  --reward-desc-bg: rgba(var(--dark-blue), 0.8);

  --form-tab-bg: rgb(245, 245, 245);
  --form-tab-color: rgb(209, 209, 209);
  --form-tab-bg-active: rgb(var(--white-2));
  --form-input-bg: rgb(var(--white));
  --form-input-color: rgb(var(--dark-blue));
  --form-button-color: rgb(var(--white-2));

  --footer-bg: rgb(var(--dark-blue));
  --footer-border-top-color: rgb(var(--white-2));
  --footer-text-color: rgb(var(--white-2));

  --page-next-img-color: invert(77%) sepia(11%) saturate(2930%)
    hue-rotate(110deg) brightness(101%) contrast(67%);

  --partner-img-color: brightness(0%) saturate(0%) contrast(1000%) invert(100%);

  --contactus-item-img-color: invert(82%) sepia(65%) saturate(758%)
    hue-rotate(94deg) brightness(101%) contrast(65%);

  --social-links-link-color: invert(100%) sepia(98%) saturate(7%)
    hue-rotate(114deg) brightness(103%) contrast(103%);

  --social-links-link-color-hover: invert(74%) sepia(15%) saturate(1816%)
    hue-rotate(114deg) brightness(95%) contrast(85%);
}

[data-theme='dark'] {
  --menu-bg-active: rgb(var(--dark-blue));
  --menu-bottom-border: rgb(var(--white-2));
  --menu-text-color-2-active: rgb(var(--white-2));

  --section-bg-1: rgb(var(--black));
  --global-title-2: rgb(var(--white-2));
  --shadow: rgba(62, 74, 136, 0.6);

  --card-bg-color: rgb(var(--dark-blue));
  --reward-desc-bg: rgba(var(--green-aqua), 0.7);

  --form-tab-bg: rgb(39, 46, 80);
  --form-tab-color: rgb(209, 209, 209);
  --form-tab-bg-active: rgb(var(--dark-blue));
  --form-input-bg: rgb(39, 46, 80);
  --form-input-color: rgb(var(--white-2));
  --footer-bg: rgb(var(--black));
}

.aboutus,
.howitworks,
.whatiearn,
.rewards,
.security,
.schools,
.joinus,
.partners,
.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 3rem; */
  gap: 5rem;
  position: relative;
  padding: 9.5rem 3rem 12rem;
}

.joinus {
  min-height: 70vh;
  padding-bottom: 5.5rem;
}

.partners,
.footer {
  min-height: auto;
  height: auto;
  position: initial;
  padding: 3rem;
}

.container {
  width: 100%;
  max-width: 139.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
}

.container--flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.container--menu {
  margin: 0;
  padding: 0 3rem;
}

.container__text {
  width: 50%;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
}

.container__art {
  width: 40%;
  min-height: 30rem;
  min-width: 30rem;
}

.container__img {
  width: 100%;
}

.title {
  color: var(--global-title);
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.title--color{
  color: var(--global-title-2);
}

.desc {
  color: var(--global-desc-color-1);
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.desc--color {
  color: var(--global-desc-color-2);
}

/* === #Next-page bar === */
.page-next,
.page-next__link {
  display: flex;
  justify-content: center;
  z-index: 99;
  position: absolute;
}

.page-next {
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  border-radius: 10rem 10rem 0 0;
}

.page-next__link {
  padding: 2rem;
  top: -8rem;
  z-index: 2;
}

.page-next__img {
  width: 3rem;
  filter: var(--partner-img-color);
  -webkit-filter: var(--partner-img-color);
  -moz-filter: var(--partner-img-color);
  transition: 0.2s ease-in;
}

.page-next__img--color {
  filter: var(--page-next-img-color);
  -webkit-filter: var(--page-next-img-color);
  -moz-filter: var(--page-next-img-color);
}

.page-next__img:hover {
  transform: scale(1.5);
}

.section-color-1 {
  background-color: var(--section-bg-1);
}

.section-color-2 {
  background-color: var(--section-bg-2);
}

/* ==================
   #Header
================== */
.header {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.header__video,
.header__video-layer {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
}
.header__video {
  z-index: 0;
}

.header__video-layer {
  background-color: var(--header-video-layer);
  z-index: 1;
}

/* === #Menu === */
.menu {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.2s ease-in;
}

.logo {
  color: var(--menu-text-color-1);
  font-size: 2.5rem;
  text-decoration: none;

  font-family: var(--font-family);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  gap: 1rem;

  transition: 0.3s ease-in;
}

.logo__text {
  color: var(--menu-text-color-2);
  transition: 0.3s ease-in;
}

.menu__elements {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.menu__link {
  color: var(--menu-text-color-2);
  text-decoration: none;
  padding: 0.5rem 1rem;

  font-family: var(--font-family);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
}

.menu__link:hover,
.menu__link.bg-active:hover,
.menu__link:focus,
.menu__link.bg-active:focus {
  color: var(--menu-text-color-1);
}

.menu.bg-active {
  background-color: var(--menu-bg-active);
  border-bottom: 0.1rem solid var(--menu-bottom-border);
}

.logo__text.bg-active,
.menu__link.bg-active {
  color: var(--menu-text-color-2-active);
}

.menu-mobile__line.bg-active {
  background-color: var(--menu-text-color-2-active);
}

/* === #Menu-mobile === */
.menu-mobile {
  width: 3rem;
  height: 3rem;
  gap: 0.7rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu-mobile:focus {
  border: none;
}

.menu-mobile__line {
  width: 100%;
  height: 0.3rem;
  background-color: var(--menu-text-color-2);
  position: absolute;
  top: 30%;
  right: 0;
  transition: 0.3s ease;
}

.menu-mobile__line:nth-child(2) {
  width: 60%;
  top: 60%;
}
.menu-mobile__line.active:nth-child(1) {
  top: 45%;
  right: 10%;
  width: 80%;
  transform: rotate(315deg);
}
.menu-mobile__line.active:nth-child(2) {
  /* background-color: red; */
  top: 45%;
  right: 10%;
  width: 80%;
  transform: rotate(45deg);
}

/* === #Intro ===  */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  padding: 0 3rem;
}

.intro__elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem auto;
}

.intro__title {
  color: var(--intro-title);
  font-size: 4rem;
  line-height: 4.5rem;
}

.intro__desc {
  width: 100%;
  color: var(--intro-desc);
  font-size: 2rem;
  line-height: 2.5rem;
}

.intro__link {
  width: 30rem;
  padding: 2rem 2rem;
  background-color: var(--intro-button-bg);
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--intro-button-color);
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
}
.intro__link:hover {
  background-color: var(--intro-button-bg-hover);
  transform: scale(1.03);
}

/* ==================
   #Main
   ================== */

.main {
  width: 100%;
}

/* === #Howitworks === */
.cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  width: 30rem;
  /* height: 50rem; */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  position: relative;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem var(--shadow);
}

.card__title {
  display: flex;
  align-items: center;
  margin: 2rem 2rem;
  background-color: var(--card-bg-color);
}

.card__title-number {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 1rem;
  border: 0.5rem solid var(--partners-color);
  border-radius: 50%;
}

.card__title-number--border-collaborators {
  border-color: var(--collaborators-color);
}

.card__title-number--border-schools {
  border-color: var(--schools-color);
}

.card__title-text {
  color: var(--partners-color);
}

.card__title-text--collaborators {
  color: var(--collaborators-color);
}

.card__title-text--schools {
  color: var(--schools-color);
}

.card__art {
  width: 100%;
  height: 20rem;
  padding: 0rem 3rem 3rem;
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
}

.card__art-img {
  width: 100%;
  height: 100%;
}

.card__float {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--font-color-2);
  font-size: 1.5rem;
}

.card__desc {
  width: 100%;
  height: 100%;
  max-height: 27.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--partners-color);
}

.card__desc--bg-collaborators {
  background-color: var(--collaborators-color);
}

.card__desc--bg-schools {
  background-color: var(--schools-color);
}

.card__list {
  padding: 3rem;
  color: var(--card-desc-color);
  font-size: 1.5rem;
  text-shadow: 0.05rem 0.05rem 0rem var(--shadow);
}

.card__list-item {
  margin-bottom: 1rem;
}

/* === #Rewards === */
.rewards__container {
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem 0;
}

.reward__card {
  width: 30rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.1rem 0.2rem 0.9rem var(--shadow);
  border-radius: 2rem;
  transition: 0.3s ease-in;
}

.reward__card:hover {
  top: -0.5rem;
}

.reward__float {
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--reward-float-color);
  font-size: 1.5rem;
  z-index: 2;
}

.reward__float--right {
  left: initial;
  right: 1rem;
}

.reward__hot,
.reward__new,
.reward__soon {
  color: var(--reward-float-color);
  font-weight: var(--weight-bold);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.reward__hot {
  background-color: var(--reward-hot-bg);
}
.reward__new {
  background-color: var(--reward-new-bg);
}
.reward__soon {
  background-color: var(--reward-soon-bg);
}

.img-white {
  filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -webkit-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
  -moz-filter: brightness(0%) saturate(0%) contrast(1000%) invert(100%);
}

.reward__img {
  width: 100%;
  transition: 1s ease;
}
.reward__img:hover {
  transform: scale(1.05);
  z-index: 0;
}

.reward__desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--reward-desc-bg);
}

.reward__price {
  color: var(--reward-float-color);
}

/* === #Partners === */
.partners__title {
  margin-bottom: 3rem;
}

.partners__container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 0 auto;
}

.partner__img {
  filter: var(--partner-img-color);
  -webkit-filter: var(--partner-img-color);
  -moz-filter: var(--partner-img-color);
}

/* === #Joinus */
.joinus__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 50rem;
  max-width: 50rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--shadow);
  border-radius: 2rem;
}

.form__tabs-row {
  width: 100%;
  display: flex;
}

.tab {
  width: calc(100% / 3);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--form-tab-color);
  background-color: var(--form-tab-bg);
  border-bottom: 0.3rem solid var(--partners-color);
  cursor: pointer;
  transition: 0.1s ease;
}

.tab--first {
  border-radius: 2rem 0 0 0;
  border-color: var(--collaborators-color);
}
.tab--last {
  border-radius: 0 2rem 0 0;
  border-color: var(--schools-color);
}

.tab.active {
  background-color: var(--form-tab-bg-active);
  border-bottom: none;
}

.tab--collaborators-color.active {
  color: var(--collaborators-color);
  border-top: 0.3rem solid var(--collaborators-color);
}
.tab--partners-color.active {
  color: var(--partners-color);
  border-top: 0.3rem solid var(--partners-color);
}
.tab--schools-color.active {
  color: var(--schools-color);
  border-top: 0.3rem solid var(--schools-color);
}

.form__content {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--form-tab-bg-active);
}

.form__content.active {
  display: flex;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__line {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: var(--weight-medium);
  color: var(--partners-color);
}

.form__label--collaborators-color {
  color: var(--collaborators-color);
}

.form__label--schools-color {
  color: var(--schools-color);
}

.form__input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--partners-color);
  color: var(--form-input-color);
  border-radius: 0.5rem;
  background-color: var(--form-input-bg) ;
}

.form__input:focus {
  outline: 0.1rem solid var(--partners-color);
}

.form__input--collaborators-color {
  border: 0.1rem solid var(--collaborators-color);
}
.form__input--collaborators-color:focus {
  outline: 0.1rem solid var(--collaborators-color);
}

.form__input--schools-color {
  border: 0.1rem solid var(--schools-color);
}
.form__input--schools-color:focus {
  outline: 0.1rem solid var(--schools-color);
}

.form__button {
  background-color: var(--partners-color);
  padding: 0.5rem 1rem;
  color: var(--form-button-color);
  border: none;
  font-size: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.05s ease-in;
}

.form__button:hover {
  transform: scale(1.04);
}

.form__button--collaborators-color {
  background-color: var(--collaborators-color);
}

.form__button--schools-color {
  background-color: var(--schools-color);
}

/* ==================
#Footer
================== */
.footer {
  background-color: var(--footer-bg);
  border-top: 0.2rem solid var(--footer-border-top-color);
}

.contactus__title {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.contactus__list {
  text-decoration: none;
  list-style: none;
}

.contactus__item {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;
  font-family: var(--font-family);
  margin-bottom: 1rem;
}

.contactus__item-img {
  width: 2rem;
  filter: var(--contactus-item-img-color);
  -webkit-filter: var(--contactus-item-img-color);
  -moz-filter: var(--contactus-item-img-color);
}

.contactus {
  color: var(--footer-text-color);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-links__link {
  width: 3rem;
  filter: var(--social-links-link-color);
  transition: 0.1s ease-in;
}
.social-links__link:hover {
  position: relative;
  top: -0.5rem;
  filter: var(--social-links-link-color-hover);
}
